<div class="version-list">
    <ul>
        {# Current version (live data) #}
        <li class="version-item current">
            <div class="version-info">
                <span class="version-number">v{{ word.current_version }}</span>
                <span class="version-current-tag">current</span>
            </div>
        </li>
        {# Historical snapshots #}
        {% for version in word.versions | sort(attribute='version_number', reverse=True) %}
        {% if version.version_number != word.current_version %}
        <li class="version-item">
            <div class="version-info">
                <span class="version-number">v{{ version.version_number }}</span>
                <span class="version-date" title="{{ version.created_at }}">
                    {{ version.created_at.strftime('%Y-%m-%d %H:%M') }}
                </span>
            </div>
            <button class="small outline"
                    hx-get="/vocabulary/{{ word.id }}/compare?version={{ version.version_number }}"
                    hx-target="#version-comparison"
                    hx-swap="innerHTML">
                Compare
            </button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
